.container
    .header
      .header__logo: span(class="bgimage"  style="background-image: url(/img/common/logo.svg)")
      .header__manager
        .header-manager 
          .header-manager__name Менеджер
          .header-manager__phone Михаил Афанасьев

      .header__contact
        .header-contact
          .header-contact__phone: a(href='tel: 84954312779') 8 (495) 431-27-79
          .header-contact__msgr
            a(href='#'): span.bgimage(  style="background-image: url(/img/svg/ic_wa.svg)")